In [1]:
carrots = 24

rabbits = 8

car_per_rab = carrots / rabbits

In [2]:
print(car_per_rab)

3.0

In [3]:
rabbits = 12

In [4]:
print(car_per_rab)

3.0

In [5]:
print(type(car_per_rab))

<class 'float'>

In [6]:
print(float(10+20))

30.0

In [8]:
print(int(10/3), 10/3)

3 3.3333333333333335

In [9]:
print(0.1+0.1+0.1)

0.30000000000000004

In [10]:
print (10 > 8)

True

### Strings

In [11]:
print("Hello")
print('Hello')

Hello
Hello

In [12]:
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

Simon's skateboard is in the garage.

In [13]:
first_word = 'Hello'
second_word = 'There'

In [14]:
print(first_word+second_word)

HelloThere

In [15]:
print(first_word+' '+second_word)

Hello There

In [16]:
print(first_word * 5)

HelloHelloHelloHelloHello

In [17]:
print(len(first_word))

5

In [18]:
first_word[0]

'H'

In [20]:
print(len('abcde') / len('ab'))

2.5

In [21]:
coconut_count = "34"
mango_count = "15"
tropical_fruit_count = coconut_count + mango_count
print(tropical_fruit_count,'\n', type(tropical_fruit_count))

3415
 <class 'str'>

In [27]:
username = "Kinari"
timestamp = "04:50"
url = "http://petshop.com/pets/mammals/cats"

# TODO: print a log message using the variables above.
# The message should have the same format as this one:
# "Yogesh accessed the site http://petshop.com/pets/reptiles/pythons at 16:20."
print(username+" accessed the site "+url+" at "+timestamp+".")

print(username," accessed the site ",url," at ",timestamp,".")

print(username,"accessed the site",url,"at",timestamp+".")

Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50.
Kinari  accessed the site  http://petshop.com/pets/mammals/cats  at  04:50 .
Kinari accessed the site http://petshop.com/pets/mammals/cats at 04:50.

In [28]:
given_name = "William"
middle_names = "Bradley"
family_name = "Pitt"

name_length = len(given_name+" "+middle_names+" "+family_name) #todo: calculate how long this name is

# Now we check to make sure that the name fits within the driving license character limit
# Nothing you need to do here
driving_license_character_limit = 28
print(name_length <= driving_license_character_limit)

True

In [29]:
len(835)

TypeError: object of type 'int' has no len()

### Type and Type conversion

In [34]:
house_number = 13
street_name = "The Crescent"
town_name = "Belmont"
print(type(house_number)) # <class 'int'="">

address = str(house_number) + " " + street_name + ", " + town_name
print(address)

<class 'int'>
13 The Crescent, Belmont

In [35]:
print(type(633))

print(type(633.0))

print(type('633'))

print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [36]:
grams="35.0"
print(type(grams))

grams=float(grams)
print(type(grams))

<class 'str'>
<class 'float'>

In [37]:
print("0" + "5")
print(0 + 5)
print("0" + 5)
print(0 + "5")

05
5

TypeError: can only concatenate str (not "int") to str

In [38]:
print(type(len("my_string")))

<class 'int'>

In [40]:
mon_sales = "121"
tues_sales = "105"
wed_sales = "110"
thurs_sales = "98"
fri_sales = "95"

#TODO: Print a string with this format: This week's total sales: xxx
# You will probably need to write some lines of code before the print statement.
mon_sales = int(mon_sales)
tues_sales = int(tues_sales)
wed_sales = int(wed_sales)
thurs_sales = int(thurs_sales)
fri_sales = int(fri_sales)

total_sales = mon_sales + tues_sales + wed_sales + thurs_sales + fri_sales

print("This week's total sales:",total_sales)

total_sales = str(total_sales)

print("This week's total sales: "+total_sales)

This week's total sales: 529
This week's total sales: 529

### String Methods

In [44]:
print("waseem akram syed".title())
full_name = "waseem akram syed"
print(full_name.islower())
print(full_name.title().islower())

Waseem Akram Syed
True
False

In [45]:
full_name = "waseem akram syed"
full_name.capitalize()

'Waseem akram syed'

In [47]:
full_name = "Waseem Akram Syed"
full_name.casefold()

'waseem akram syed'

In [51]:
full_name = "Waseem Akram Syed"
full_name.center(30,'#')

'######Waseem Akram Syed#######'

In [54]:
full_name = "Waseem Akram Syed"
print(full_name.count('a'))
print(full_name.casefold().count('a'))

2
3

In [55]:
full_name = "Waseem Akram Syed"
full_name.find('a')

1

In [56]:
print("Mohammed has {} balloons".format(27))

Mohammed has 27 balloons

In [57]:
animal = "dog"
action = "bite"
print("Does your {} {}?".format(animal, action))

Does your dog bite?

In [58]:
maria_string = "Maria loves {} and {}"
print(maria_string.format("math", "statistics"))

Maria loves math and statistics

#### Assessing arguments by positions

In [59]:
print('1. {0}, {1}, {2}'.format('a', 'b', 'c'))

print('2. {}, {}, {}'.format('a', 'b', 'c')) # 3.1+ only

print('3. {2}, {1}, {0}'.format('a', 'b', 'c'))

print('4. {2}, {1}, {0}'.format(*'abc'))      # unpacking argument sequence

print('5. {0}{1}{0}'.format('abra', 'cad'))   # arguments' indices can be repeated

1. a, b, c
2. a, b, c
3. c, b, a
4. c, b, a
5. abracadabra

##### More examples : https://docs.python.org/3.6/library/string.html#format-string-syntax

In [60]:
# calling string method on float
print(12.34.islower())

AttributeError: 'float' object has no attribute 'islower'

#### split method

In [61]:
new_str = "The cow jumped over the moon."
new_str.split()

['The', 'cow', 'jumped', 'over', 'the', 'moon.']

In [62]:
new_str = "The cow jumped over the moon."
new_str.split(' ', 3)

['The', 'cow', 'jumped', 'over the moon.']

In [63]:
new_str = "The cow jumped over the moon."
new_str.split('.')

['The cow jumped over the moon', '']

In [64]:
new_str = "The cow jumped over the moon."
new_str.split(None, 3)

['The', 'cow', 'jumped', 'over the moon.']

### More coding pratice can be done here : 
### https://www.codewars.com/

### https://www.hackerrank.com/domains/python